<!-- <!-- <header class="header1">
<nav id="nav1">
  <menu>
    Platform &nbsp;
    Channels &nbsp;
    Customers &nbsp;
    About &nbsp;
    Resources &nbsp;
  
  <button id="b1">Get Started</button>
</menu>
</nav>
</header>
<section id="section1">
  <div>
<h1 ><b>one platform to recognize</b></h1>
<h3>connect 100% of your workforce anytime, anywhere</h3>
<h3>Consolidate, streamline, automate and get insights</h3>
<video  controls>watch how</video>
  </div>
</section>
<br><br>
<!-- <button id="b2">Watch how</button> -->
<!-- <table id="table1" cellpadding="4" cellspacing="0" >
  <tr valign="top">
    <td rowspan="7">Velocity info</td>
  </tr>
  <tr >
    <td colspan="4"> Employee Details</td>
  </tr>
  <tr >
    <td colspan="2"> Name</td>
    <td colspan="2"> Address</td>
  </tr>
  <tr >
    <td > First Name</td>
    <td > Last Name</td>
    <td>city</td>
    <td>postalcode</td>
  </tr>
  <tr >
    <td > Mayuri</td>
    <td > Darekar</td>
    <td>Pune</td>
    <td>412208</td>
  </tr>
  <tr >
    <td > Rahul</td>
    <td > Darekar</td>
    <td>Pune</td>
    <td>412208</td>
  </tr>
  <tr >
    <td colspan="4" style="color:red"> & copyright 2022</td>
  </tr>

</table>
<br>
<table rules="groups" frame="box" text-align="center">
  <caption>Product1.1</caption>
   
      <th>ProductId</th> 
      <th>Name</th>
      <th>Price</th>
   

      <tr>
        <td>101</td>
        <td>mobile</td>
        <td>50505</td>
      </tr>
      <tr>
        <td>102</td>
        <td>tab</td>
        <td>100000</td>
      </tr>
      <tr>
        <td>103</td>
        <td>Laptop</td>
        <td>504546</td>
      </tr>
      <tfoot>
        <td>&nbsp;</td>
        <td>total Price</td>
        <td>650000</td>
      </tfoot>
    
</table> --> 
<!-- <div id="firstchild1">
<p >
  mayuri darekar 
  one platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform torecognizeone platform to recognizeone  platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to <span style="color:red">recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone</span> platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognize
</p>
  <h1>hello everyone</h1>
</div>
<p>
  darekar 
 one platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform torecognizeone platform to recognizeone  platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to <span style="color:red">recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone</span> platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognizeone platform to recognize
</p>

<input type="text" placeholder="name">
<input type="text" placeholder="lastname">
<input type="checkbox" checked>
<div id="name" style="height: 200px;width: 200px;background-color: chartreuse; position:relative;left:20%;">
  MAYURI

<div id="name1" style="height: 200px;width: 200px;background-color:violet; margin-top: 20px;position: relative;top:50%;left:20%;right:70%;">
  MAYURI
</div>
</div> --> 


<!-- 
<frameset rows="15%,70%,15%">
  <frame name="frametop" src="">frametop1</frame>
    <frameset cols="15%,70%,15%">
      <frame name="frameleft" src="../assets/images/IMG_20170822_180628.jpg" >frameleft1</frame>
        <frame id="frame1"name="frameright" src="../assets/images/IMG_20170822_180628.jpg">frameright1</frame>
          <frame name="frameads" src="../assets/images/IMG_20170822_180628.jpg">frameads1</frame>
            
    </frameset>
    <frame name="framemiddel" src="">framemiddel1</frame>
      <frame name="framebottom" src="../assets/images/IMG_20170822_180628.jpg">framebottom1</frame>
</frameset> -->


<frameset rows = "10%,80%,10%">
  <frame name = "top" src = "https://www.tutorialspoint.com/html/top_frame.htm" ></frame>>
  <frame name = "main" src = "https://www.tutorialspoint.com/html/main_frame.htm" ></frame>
  <frame name = "bottom" src = "https://www.tutorialspoint.com/html/bottom_frame.htm" ></frame>

  <!-- <noframes>
     <body>Your browser does not support frames.</body>
  </noframes> -->
  
</frameset>